.about-article {
  height: fit-content;
  min-height: 85vh;
  max-width: 75vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-gray);

  .about-me-title {
    font-size: 2.5rem;
    margin: 1rem 0 2.5rem;
  }

  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    z-index: 1;

    .presentation-paragraph {
      font-size: 1.25rem;
      line-height: 1.7rem;
    }

    .about-image {
      max-height: 60vh;
      max-width: 40vw;
      border-radius: 3rem;
      object-fit: cover;
      object-position: center top;
      position: relative;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 1200px) {
  .about-article {
    max-width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .about-article {
    height: 100%;
    width: 90vw;

    .about-me-title {
      margin: 4rem 0 1.5rem;
    }

    .about-content {
      flex-direction: column;
      gap: 0.5rem;

      .presentation-paragraph {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }

      .about-image {
        max-height: 45vh;
        max-width: 80vw;
        margin-bottom: 2rem;
      }
    }
  }
}
