.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  z-index: 1;
  padding: 1.25rem;

  .pierre-drawing {
    border-radius: 50%;
    height: 3rem;
    width: auto;
  }

  .links-wrapper {
  }
}

@media (min-width: 768px) {
  .navbar {
  }
}
