@import '../../../page.scss';

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80vw;
  @include slide-up-animation;

  .profile-picture {
    height: auto;
    width: 28.125rem;
    max-width: 45vh;
    position: relative;
    z-index: 1;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;

    .profile-picture {
      max-width: 70vw;
    }
  }
}
