.home-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: calc(90vh - 6.5rem);
  align-items: center;
}

@media screen and (max-width: 768px) {
  .home-section {
    min-height: 85vh;
  }
}
