.job {
  background: linear-gradient(to bottom, var(--light-turquoise), var(--light-green));
  background-clip: text;
  -webkit-text-fill-color: transparent;

  .styles-module_blinkingCursor__yugAC {
    -webkit-text-fill-color: var(--white);
  }
}
