.hamburger-button {
  width: 2.9rem;
  height: 2.9rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  .line {
    width: 2.9rem;
    height: 0.3rem;
    border-radius: 0.3rem;
    background-color: #ecf0f1;
    display: block;
    margin: 0.5rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &.opened .line {
    &:nth-child(1) {
      -webkit-transform: translateY(0.8125rem) rotate(45deg);
      -ms-transform: translateY(0.8125rem) rotate(45deg);
      -o-transform: translateY(0.8125rem) rotate(45deg);
      transform: translateY(0.8125rem) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      -webkit-transform: translateY(-0.8125rem) rotate(-45deg);
      -ms-transform: translateY(-0.8125rem) rotate(-45deg);
      -o-transform: translateY(-0.8125rem) rotate(-45deg);
      transform: translateY(-0.8125rem) rotate(-45deg);
    }
  }
}
